.weather {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  &__header {
    width: 100%;
    margin-bottom: 40px;
  }

  &__wrapper {
    width: 100%;
    margin: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    border-radius: 3px;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

    @include md {
      width: 50%;
    }

    @include lg {
      width: 33.3333%;
    }
  }
}

.cities {
  &__title {
    background-color: $BLUEGROUND_BLUE;
    color: white;
    padding: 16px 10px;

    h1 {
      margin: 0;
    }
  }

  &__body {
    padding: 10px;
    background-color: #e8e8e8;
  }

  &__search {
    margin-bottom: 40px;
  }
}

.city {
  height: 64px;

  &__link {
    height: 100%;
    display: inline-flex;
    width: 100%;
    background-color: #FFF;
    transition: background-color 0.3s ease;

    &:hover {
      cursor: pointer;
      background-color: #ececec;
      text-decoration: none;
    }
  }

  &__thumb {
    height: 100%;
    margin-right: 20px;
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
