@import "_sass-variables";
@import "_weather";

/* Styles */
html {
  width: 100%;
  height:100%;
}

body {
  width: 100%;
  min-height: 100%;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
  background-image: url(./images/blue_bg.jpeg);
  //background-image: url(./images/steamy3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}




